In [1]:
from pathlib import Path

project_root_path = Path.cwd().parent
project_root_path

WindowsPath('F:/projects_ssd/tfm/tfm-rl-starcraft2')

In [4]:
models_path = project_root_path / "models"
old_models_path = project_root_path / "models_bck"
models_path

WindowsPath('F:/projects_ssd/tfm/tfm-rl-starcraft2/models')

In [5]:
old_models_path

WindowsPath('F:/projects_ssd/tfm/tfm-rl-starcraft2/models_bck')

In [6]:
import pandas as pd

def get_agent_stats(model_id: str):
    model_path = old_models_path / model_id
    agent_stats_path = model_path / "agent_stats.parquet"
    
    return pd.read_parquet(agent_stats_path)

def get_aggregated_stats(model_id: str):
    model_path = old_models_path / model_id
    aggregated_stats_path = model_path / "aggregated_stats.parquet"

    return pd.read_parquet(aggregated_stats_path)

def get_episode_stats(model_id: str):
    model_path = old_models_path / model_id
    episode_stats_path = model_path / "episode_stats.parquet"

    return pd.read_parquet(episode_stats_path)

In [7]:
model_id = "single_drl_simplified_actions"

In [12]:
agent_stats = get_agent_stats(model_id)
print(len(agent_stats))
print(agent_stats["map_name"].unique())
agent_stats.head(10)

50
['Simple64']

   map_name  reward  steps  epsilon losses  emissions  score
0  Simple64     1.0    153      1.0     []   0.000594      0
1  Simple64     1.0    155      1.0     []   0.001335      0
2  Simple64     1.0    141      1.0     []   0.002049      0
3  Simple64     1.0    174      1.0     []   0.003728      0
4  Simple64     1.0    148      1.0     []   0.003507      0
5  Simple64     1.0    138      1.0     []   0.004193      0
6  Simple64     0.0   1040      1.0     []   0.032406      0
7  Simple64     0.0    888      1.0     []   0.042167      0
8  Simple64     0.0    731      1.0     []   0.046328      0
9  Simple64     0.0   1072      1.0     []   0.076229      0

In [14]:
aggregated_stats = get_aggregated_stats(model_id)
print(len(aggregated_stats))
print(aggregated_stats["map_name"].unique())
aggregated_stats.head(10)

50
['Simple64']

   map_name  reward  steps  epsilon losses  emissions  score
0  Simple64     1.0    153      1.0     []   0.000594      0
1  Simple64     1.0    155      1.0     []   0.001335      0
2  Simple64     1.0    141      1.0     []   0.002049      0
3  Simple64     1.0    174      1.0     []   0.003728      0
4  Simple64     1.0    148      1.0     []   0.003507      0
5  Simple64     1.0    138      1.0     []   0.004193      0
6  Simple64     0.0   1040      1.0     []   0.032406      0
7  Simple64     0.0    888      1.0     []   0.042167      0
8  Simple64     0.0    731      1.0     []   0.046328      0
9  Simple64     0.0   1072      1.0     []   0.076229      0

In [16]:
episode_stats = get_episode_stats(model_id)
print(len(episode_stats))
print(episode_stats["map_name"].unique())
episode_stats.head(10)

50
['Simple64']

   map_name  reward  steps  epsilon losses  emissions  score
0  Simple64     1.0    153      1.0     []   0.000594      0
1  Simple64     1.0    155      1.0     []   0.001335      0
2  Simple64     1.0    141      1.0     []   0.002049      0
3  Simple64     1.0    174      1.0     []   0.003728      0
4  Simple64     1.0    148      1.0     []   0.003507      0
5  Simple64     1.0    138      1.0     []   0.004193      0
6  Simple64     0.0   1040      1.0     []   0.032406      0
7  Simple64     0.0    888      1.0     []   0.042167      0
8  Simple64     0.0    731      1.0     []   0.046328      0
9  Simple64     0.0   1072      1.0     []   0.076229      0